numpy==1.19.3
opencv_contrib_python
matplotlib==3.2.1
torch==2.0
torchvision==0.15.1
tensorboard==1.14.0
tensorboardX==2.0
opencv-python
urllib3==1.25.8
scipy==1.4.1
requests-unixsocket==0.1.5

